<!-- Header Starts -->
<div class="navbar-wrapper">

</div>
<!-- #Header Starts -->
<div class="container">

<!-- Header Starts -->
<div class="header">
<a href="#"><img src="../assets/images/logo.png" alt="Realestate"></a>

        <ul class="pull-right">
          <li><a [routerLink]="['/']">Trang chủ</a></li>
          <li><a [routerLink]="['/favourite']">Danh sách yêu thích</a></li>
        </ul>
</div>
<!-- #Header Starts -->
</div>
<!-- banner -->
<div class="inside-banner">
  <div class="container">
    <span class="pull-right"><a href="#">{{currentUrl}}</a></span>
    <h2>{{currentUrl}}</h2>
</div>
</div>
