<div class="properties">
  <div (click)="hanldLink()">
    <div class="image-holder"><img [src]="itemReadEstate.avatar" class="img-responsive" alt="properties">
      <div class="status sold">{{itemReadEstate.type.name}}</div>
    </div>
    <h4>{{itemReadEstate.title}}</h4>
    <div class="listing-detail">
      <h5>{{itemReadEstate.address}}</h5>
      <h6>Diện tích : {{itemReadEstate.area}} m2</h6>
    </div>
    <p class="price">Giá: {{itemReadEstate.price.from | currency: "VND" : true : '1.3-3'}}.000.000 - {{itemReadEstate.price.to | currency: "VND" : true : '1.3-3'}}.000.000</p>
  </div>

  <button class="btn btn-primary" [disabled]="itemReadEstate.disabled" (click)="handleAdd()">Thêm vào danh sách yêu thích </button>
</div>
